* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 28px ;
    background-color: #e9dcf0;
    color:  #502b64;
}
header {
    position: absolute;
}
.title {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #e9dcf0;
    color: #502b64;
    width: 100%;
    height: 90px;
    z-index: 3;
    opacity: 90%;
    align-items: center;


}

.main {
    display: flex;
    justify-content: center;
    
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 60px;;
    width: 70%;
}

.item_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    height: 200px;
}

.item_info p {
    font-size: 18px;
    font-weight: 500;
}

.item {
    height: 100%;
}

.item_image {
    height: 100%;
}

.price {
   margin-right: 10px;

}

.price_button {
    display: flex;
    align-items: center;
}

.item_button {
    border-radius: 50%;
    width: 34px;
    height: 34px;   
    vertical-align: center;
    text-align: center;
    font-weight: 200;
}

.item_button:hover {
    background-color: #502b64;
    color: #e9dcf0;
}

.footer_wrapper {    
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #e9dcf0;
    opacity: 90%;
    bottom: 0px;

}

.total {
    position: fixed;
    display: flex;     
    width: 70%;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    bottom: 0px;
    opacity: 100%;
    z-index: 1000;
            
}

.total p {
    font-size: 20px;
}

.order_button {
    width: 200px;
    height: 42px;
    background:#502b64 ;
    color: #e9dcf0;
    font-size: 17px;
    border-radius: 20px;
}

.order_button:hover {
    background-color: #e9dcf0;
    color: #502b64;
}