* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #787878;
    font-size: 28px ;
}

body {
    background-color:#e9dcf0;
    background: linear-gradient(
            rgba(0,0,0,0.6),
            rgba(0,0,0,0.6)),
            url(../images/image.JPG);
    background-size: cover;
}

.window
{
    width: 100vw;
    height:100vh ;
    padding: 20px;
    background-color: transparent;
}

.form {
    display: flex;
    flex-direction: column;
    flex-basis: 320px;
    align-items:center ;
    width: 100%;
    height:100% ;
    background-color: white;
    border-radius: 20px;
    padding: 38px 45px 0 45px;
    min-width: 300px;
}

.form__header {
    font-size: 60px;
   
}

.form__label {
    margin:8px;
    font-size: 24px;
    left: 0;  
    align-self: start;
}

.form__input {
    border-radius: 60px;
    width: 100%;
    height: 49px;
    border: 2px solid #787878;
    padding-left: 8px;
    padding: 20px;
}
.form__checkbox-wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 19px;
    align-items: center;
    
}

.form__checkbox-fake {
    width: 32px;
    height: 32px;
    border: 2px solid #787878;
    border-radius: 25px; 
    min-width: 32px;
}

.form__checkbox-real{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.form__checkbox-real:checked + .form__checkbox-fake::after {
    content: "✔";
    color: #502b64 ;
    position: absolute;
    top: -5px;
    left: 2px;
    font-size: 22px ;
    }

.form__checkbox-label {
    font-size: 18px;
    font-weight: normal;
    margin-left: 10px;
    text-align: left;

}

.form__button {
    background: #502b64;
    color: white;
    font-size: 32px;
    width: 220px;
    height: 80px;
    border-radius: 10px;
    margin-top: 64px;
    border: 0;

}

.form__button:hover {
    background-color: #e9dcf0;
    color: #502b64;
}

::placeholder {
    font-size: 20px;
    color: #CCCCCC;
    font-weight: 500;

}

@media screen and (min-width: 769px) {
    
.window {
    display: flex;
    justify-content: center;
    }


.form {
    width: 600px;
    height: 412px;
    min-width: 600px;
    margin-top: 62px;
    padding-top: 0;

}
.form__header {
    margin-top: 26px;
    font-size: 50px;
}

.form__label {
    margin: 13px 8px 3px 8px;
    font-size: 16px;
}


.form__button {
    margin-top: 52px;
    width: 180px;
    height: 52px;
    font-size: 24px;
}

.form__checkbox-label {
    font-size: 14px;
    }

 
.form__checkbox-fake {
    width: 24px;
    height: 24px;
    min-width: 24px;


}       
}