
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 28px ;
}

.window
{
    position: absolute;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9dcf0;
    color:  #502b64;
    width: 100%;
    height: 90px;
    z-index: 3;
    padding:55px 70px;
    opacity: 90%;
}


.name {
    display: flex;
    align-items: center;
}


    
.cake_icon {
    display: inline;
    width: 70px;
    height: 70px;
    padding: 10px;
    filter: invert(21%) sepia(18%) saturate(2161%) hue-rotate(236deg) brightness(89%) contrast(93%);
}

.text {
    display: inline;
}

.count {
    display: flex;
    align-items: center;
}

.order p {
    font-size: 20px;
    text-align: right;
}

.cart_button {
    border: none;
    background: #e9dcf0;

}
.cart_icon {
    width: 70px;
    height: 70px;
    padding: 10px;
    filter: invert(21%) sepia(18%) saturate(2161%) hue-rotate(236deg) brightness(89%) contrast(93%);
}

body {
    background-color: #e9dcf0;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px ;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    width: 300px;
}

.item_image {
    width: 100%;
    height: 100%;

}

.item_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 10px;
    
}

.item_name {
    font-size: 18px;
    font-weight: 1000;
    text-align: center;
    color: #502b64;
    
}

.item_text {
    flex: 2 1 30%;
    font-size: 15px;
    margin-top: 5px;
    color: #533a61 ;

}

.item_price {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    text-align: center;
}

.item_info p {
    font-size: 15px;
    font-weight: 200;
    color:#502b64;
}

.item_price p {
    font-size: 30px;
    color:#502b64;
    font-weight: 700;

}

.item_price span {
    font-size: 15px;
    font-weight: 700;
}

.item_button {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    vertical-align: center;
    text-align: center;
    background: #e9dcf0;
}

.item_button:hover {
    background-color: #502b64;
    color: #e9dcf0;
}
